@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*>*{
  font-family: 'Roboto Condensed', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
    
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background-image: radial-gradient(circle at 37% 80%, hsla(180,0%,7%,0.1) 0%, hsla(180,0%,7%,0.1) 45%,transparent 45%, transparent 73%,transparent 73%, transparent 100%),radial-gradient(circle at 60% 45%, hsla(180,0%,7%,0.1) 0%, hsla(180,0%,7%,0.1) 67%,transparent 67%, transparent 71%,transparent 71%, transparent 100%),radial-gradient(circle at 23% 84%, hsla(180,0%,7%,0.1) 0%, hsla(180,0%,7%,0.1) 55%,transparent 55%, transparent 97%,transparent 97%, transparent 100%),radial-gradient(circle at 52% 76%, hsla(180,0%,7%,0.1) 0%, hsla(180,0%,7%,0.1) 37%,transparent 37%, transparent 95%,transparent 95%, transparent 100%),radial-gradient(circle at 50% 81%, hsla(180,0%,7%,0.1) 0%, hsla(180,0%,7%,0.1) 79%,transparent 79%, transparent 85%,transparent 85%, transparent 100%),linear-gradient(45deg, rgb(31, 89, 11),rgb(104, 210, 51));
  }
  .TopCover{  
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(63,40,11) 0px, rgb(63,40,11) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
  }
  .rippleBlue {
    background-position: center;
    transition: background 0.8s;
  }
  .rippleBlue:hover {
    background: #EF5B0C radial-gradient(circle, transparent 1%, #EF5B0C 1%) center/15000%;
  }
  .rippleBlue:active {
    background-color: #FF9F29;
    background-size: 100%;
    transition: background 0s;
  }
  
  /* Ripple effect green btn */
  .rippleGreen {
    background-position: center;
    transition: background 0.8s;
  }
  .rippleGreen:hover {
    background: #749F82 radial-gradient(circle, transparent 1%, #749F82 1%) center/15000%;
  }
  .rippleGreen:active {
    background-color: #BCEAD5;
    background-size: 100%;
    transition: background 0s;
  }
  
  /* Ripple effect red btn */
  .rippleRed {
    background-position: center;
    transition: background 0.8s;
  }
  .rippleRed:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .rippleRed:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
    
  }
  .TopCover{  
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
  }
  .rippleBlue {
    background-position: center;
    transition: background 0.8s;
  }
  .rippleBlue:hover {
    background: #2049ac radial-gradient(circle, transparent 1%, #2049ac 1%) center/15000%;
  }
  .rippleBlue:active {
    background-color: #446dcf;
    background-size: 100%;
    transition: background 0s;
  }
  
  /* Ripple effect green btn */
  .rippleGreen {
    background-position: center;
    transition: background 0.8s;
  }
  .rippleGreen:hover {
    background: #4abd8c radial-gradient(circle, transparent 1%, #4abd8c 1%) center/15000%;
  }
  .rippleGreen:active {
    background-color: #53d39c;
    background-size: 100%;
    transition: background 0s;
  }
  
  /* Ripple effect red btn */
  .rippleRed {
    background-position: center;
    transition: background 0.8s;
  }
  .rippleRed:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .rippleRed:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
}  

/* Ripple effect blue btn */


.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #8785A2;
  color: #F6F6F6;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 100%;
  right: 50%;
  opacity: 0;
  transition: opacity 0.8s;
   
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}